<!-- Main Header -->
<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Index","Home")" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>MAP</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">Map Goverment</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        @*@if (Request.IsAuthenticated)
        {
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        }
        else
        {
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
        }*@
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                @*@Html.Partial("_NotificationPartial")
                 User Account Menu 
                @Html.Partial("_LoginPartial")*@
            </ul>
        </div>
    </nav>

</header>
